##################################################################################################
# Regression Configuration cho Async FIFO
##################################################################################################

# Compilation option for all testcase (Not supported yet)
cmp_opts =

# Coverage option: on | off (Not supported yet)
cov = on

# Dump wave option: on | off (Not supported yet)
wave = on

# To check pass condition in log file, format as string 
pass_key_word = "TEST PASSED"

# To check fail condition in log file, format as string 
fail_key_word = "TEST FAILED"

# Set verbosity option for UVM testbench (Not supported yet)
pl = UVM_LOW

tc_list {
  reset_test               , run_times=1 , run_opts= ;
  single_wr_rd_test        , run_times=1 , run_opts= ;
  multiple_wr_rd_test      , run_times=2 , run_opts= ;
  overflow_test            , run_times=1 , run_opts= ;
  underflow_test           , run_times=1 , run_opts= ;
  wrap_around_test         , run_times=1 , run_opts= ;
  reset_at_middle_test     , run_times=1 , run_opts= ;
  simultaneous_wr_rd_test  , run_times=1 , run_opts= ;
}